.container {
  max-width: 500px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.text-align-center {
  text-align: center;
}

.padding-top-bottom {
  padding: 5rem 0;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.width-adj {
  width: 430px;
  margin: 0 auto;
}

.margin-right {
  margin-right: 2rem;
}

.margin-bottom {
  margin-bottom: 3rem;
}

.padding-bottom {
  padding-bottom: 3rem;
}

@media only screen and (min-width: 728px) {
  .container {
    max-width: 1000px;
  }

  .mobile-row {
    display: flex;
  }

  .mobile-margin-right {
    margin-right: 1rem;
  }

  .width-adj {
    width: auto;
  }
}
