#root {
  background-color: #c4c4c4;
  height: 100vh;
}

body {
  font-family: Roboto, sans-serif;
}

.profile-picture {
  width: 225px;
  height: 225px;
}

.dish-pictures {
  width: 150px;
  height: 150px;
}

.width {
  width: 150px;
}

.background-color {
  background-color: #c4c4c4;
}
