body {
  height: 100%;
  background: linear-gradient(90deg, #f7f4f2 100%, white 100%);
}

.profile-picture {
  height: 190px;
  object-fit: contain;
}

.profile-page-picture {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
}

.dish-photos {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
}

.star {
  color: #fecc08;
}

.arrow-icon-left {
  font-size: 2rem;
  position: absolute;
  left: 15px;
}

.arrow-icon-right {
  font-size: 2rem;
  position: absolute;
  right: 15px;
}

.review-modal {
  height: 300px;
}

.carousel-buttons {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}

.carousel-buttons-black {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}

.dish-picture-container {
  position: relative;
}

.user-icon {
  font-size: 5rem;
}

.star-modal {
  font-size: 1.2rem;
  color: #fecc08;
  cursor: pointer;
}

.review-section {
  border-bottom: 1px solid #e0e0e0;
}

.review-section:last-child {
  border-bottom: none;
}

.arrow-icon-left,
.arrow-icon-right {
  cursor: pointer;
}

.search-dropdown {
  cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.carousel-indicators li {
  background-color: #999;
  width: 1rem;
  height: 0.25rem;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #d3d3d3;
}

.f6f4f2 {
  color: #f6f4f2;
}

.saved-button {
  background-color: #6c757d;
  color: white;
  height: 38px;
}

@media screen and (min-width: 768px) {
  .dish-photos {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 5px;
  }
}

@media screen and (min-width: 992px) {
  .search-result-cards {
    width: 25%;
    white-space: initial;
  }
}

@media screen and (min-width: 1398px) {
  .search-result-cards {
    white-space: nowrap;
  }
}

/*

body {
  font-family: Helvetica, sans-serif;
}

.profile-picture {
  width: 225px;
  height: 225px;
}

.dish-pictures {
  width: 150px;
  height: 150px;
}

.width-150 {
  width: 150px;
}

.height-100 {
  height: 100vh;
}

.height-modal {
  height: 75px;
}

.user-icon-container {
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 50%;
}

.review-content {
  font-size: 1.2rem;
}

.orange {
  color: #ff8e00;
}

.user-icon {
  font-size: 5rem;
}

.profile-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #c4c4c4;
}

.nav-bar {
  background-color: #9d9d9d;
  height: 50px;
}

.logo-text {
  color: white;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

input {
  font-size: 1rem;
}

.inputs-signin {
  width: 400px;
  height: 40px;
  padding: 0.5rem;
  border-radius: 5px;
}

.label-signin {
  font-size: 1.3rem;
  text-align: start;
}

.submit-button {
  width: 85px;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #c4c4c4;
}

.cuisine-dropdown {
  width: 75%;
  padding: 0.5rem;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.info-button {
  padding: 0.5rem 3rem;
  border-radius: 5px;
  border: 1px solid black;
}

.review-button {
  padding: 0.5rem;
  width: 40%;
  border-radius: 5px;
  background-color: #ff8e00;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: #c4c4c4;
  width: 400px;
  height: 400px;
  border: 1px black solid;
  padding: 1rem;
  border-radius: 5px;
}

.modal-x-button {
  font-size: 1.5rem;
  cursor: pointer;
}

.review-star {
  cursor: pointer;
}

.review-input {
  padding: 0.5rem;
  width: 100%;
  height: 200px;
}

.cancel-button {
  padding: 0.5rem;
  width: 100px;
  border-radius: 5px;
  background-color: #c2c2c2;
}

.post-button {
  padding: 0.5rem;
  width: 100px;
  border-radius: 5px;
  background-color: #ff8e00;
}

.modal-stars {
  cursor: pointer;
}

.thumbs-up,
.checkmark {
  font-size: 3.5rem;
  color: #ff8e00;
}

.signout-button {
  width: 75px;
  font-size: 1rem;
}

.save-button {
  padding: 0.5rem;
  width: 40%;
  border-radius: 5px;
  background-color: #c4c4c4;
  font-size: 1rem;
}

.profile-picture-favorites {
  width: 150px;
  height: 150px;
}

.favorites-container {
  background-color: #343a40;
  padding: 0.5rem;
  border-radius: 5px;
  position: relative;
}

.saved-chefs-text {
  color: white;
}

.trash-button {
  color: red;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

@media only screen and (min-width: 728px) {
  .review-button {
    width: 200px;
  }
} */
