#root {
  background-color: #c4c4c4;
}

body {
  font-family: Roboto, sans-serif;
}

.profile-picture {
  width: 225px;
  height: 225px;
}

.dish-pictures {
  width: 150px;
  height: 150px;
}

.width-150 {
  width: 150px;
}

.height-100 {
  height: 100vh;
}

.user-icon-container {
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 50%;
}

.review-content {
  font-size: 1.2rem;
}

.orange {
  color: #ff8e00;
}

.user-icon {
  font-size: 5rem;
}

.nav-bar {
  background-color: #343a40;
  height: 50px;
}

.logo-text {
  color: white;
}

a,
button {
  cursor: pointer;
}

input {
  font-size: 1rem;
}

.inputs-signin {
  width: 400px;
  height: 40px;
  padding: 0.5rem;
  border-radius: 5px;
}

.label-signin {
  font-size: 1.3rem;
  text-align: start;
}

.submit-buttom {
  width: 85px;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #c4c4c4;
}
